* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
}

.container {
  display: grid;
  grid-template-rows: 5rem 30px 30% ;
  grid-template-columns: 10% 40% 1fr ;
}

header {
  grid-column-start: 1;
  margin: 20px;
}

header a {
  grid-column-start: 2;
  margin: 20px;
}

.navigation {
  grid-column-start: 1;
  grid-column: span 3;
  grid-row-start: 2;
  background-color: rgb(13, 91, 163);
  display: flex;
  justify-content: center;
  height: auto;
  align-items: center;
  font-family: roboto, serif;
}

.navigation a {
  color: white;
  text-decoration: none;
  margin: 7em;
}
.navigation li {
  display: inline-block;
}

.navigation a:hover {
  text-decoration: underline;
}

.bread {
  grid-row-start: 3;
  grid-row:span 2;
  grid-column-start: 2;
  margin-left: 2rem;
  background-color: #eee;
  box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.2);
  border-radius: 10px;
  margin: 2rem;
  padding: 2rem;
  height: ;
}

.bread p {
  margin-bottom: 2rem;
}

h1 {
  font-family: roboto, serif;
  color: rgb(107, 170, 12);
  margin-top: 2rem;
}

#slideshow {
  position: relative;
  width: 240px;
  height: 240px;
  padding: 10px;
}

#slideshow > div img {
  width: 23em;
  height: 15em;
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.Price {
  grid-column-start: 3;
  grid-row-start: 3;
  height: 100%;
  margin: 2rem;
  padding: 2rem;
  background-color: #eee;
  box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.2);
  border-radius: 10px;
}

.Price ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin: 2rem;
}

.Price ul li {
  display: block;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.1);
  border-radius: 10px;
  text-align: center;
  font-family: Roboto, sans-serif;
}

.Price ul li:hover{
  box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.2);
}

.bread-3{
  grid-column: 2/4;
  grid-row: 3;
  margin-top:1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}
.Rekonditionerad{
  background-color: #eee;
  box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.2);
  border-radius: 10px;
  margin: 2rem;
  padding: 2rem;
  width: 40%;
}

.Ny{
  background-color: #eee;
  box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.2);
  border-radius: 10px;
  margin: 2rem;
  padding: 2rem;
  width: 40%;
}

.Rebottlad{
  background-color: #eee;
  box-shadow: 10px 10px 10px rgba(90, 59, 59, 0.2);
  border-radius: 10px;
  margin: 2rem;
  padding:2rem;
  width: 40%;
}

.customer{
  grid-column:3/4;
  grid-row: 4/5;
  display: flex;
  margin-top: 6rem;
  
  align-content: flex-end;
}


.customer img{
  width: 4rem;
  height: auto;
}

.customer-1{
  box-shadow: 10px 10px 10px rgba(90, 59, 59, 0.2);
  border-radius: 10px;
  background-color: #eee;
  padding: 2rem;
  margin: 2rem;
  height: 50%;
  width: 150%;
  
}
.customer-2{
  box-shadow: 10px 10px 10px rgba(90, 59, 59, 0.2);
  border-radius: 10px;
  padding: 2rem;
  margin: 2rem;
  background-color: #eee;
  height: 50%;
  width: 150%;
  
}
.customer-3{
  box-shadow: 10px 10px 10px rgba(90, 59, 59, 0.2);
  border-radius: 10px;
  padding: 2rem;
  margin: 2rem;
  background-color: #eee;
  height: 50%;
  width: 150%;
}

.bread-3 h2{
  color:rgb(107, 170, 12);
  margin: 1rem;
}
