* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
}




.container {
  display: grid;
  grid-template-rows: 5rem 30px 30%;
  grid-template-columns:  40% 1fr;
  
}

header {
  grid-column-start: 1;
  margin: 20px;
}

header a {
  grid-column-start: 2;
  margin: 20px;
}

img{
  border-radius: 10px;
}

h2{
  font-family: roboto, serfi;
  color: rgb(174, 233, 87);
}

.navigation {
  grid-column-start: 1;
  grid-column: span 3;
  grid-row-start: 2;
  background-color: rgb(13, 91, 163);
  display: flex;
  justify-content: center;
  height: auto;
  align-items: center;
  font-family: roboto, serif;
}

.navigation a {
  color: white;
  text-decoration: none;
  margin: 7em;
}
.navigation li {
  display: inline-block;
}

.navigation a:hover {
  text-decoration: underline;
  
}

.bread {
  
  grid-row: 3 /4;
  grid-column: 1/2;
  margin-left: 2rem;
  background-color: #eee;
  box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.2);
  border-radius: 10px;
  margin: 2rem;
  padding: 2rem;
  height: 100vh;
}

.bread p {
  margin-bottom: 2rem;
}

h1 {
  font-family: roboto, serif;
  color: rgb(107, 170, 12);
  margin-top: 2rem;
}

#slideshow {
  position: relative;
  width: 100%;
  height: auto;
  
}

#slideshow > div img {
  width: 100%;
  
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.Price {
  grid-column-start: 3;
  grid-row-start: 3;
  height: 70%;
  margin: 2rem;
  padding: 2rem;
  background-color: #eee;
  box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.2);
  border-radius: 10px;
}

.Price ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  margin: 2rem;
}

.Price ul li {
  display: block;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.1);
  border-radius: 10px;
  text-align: center;
  font-family: Roboto, sans-serif;
}

.Price ul li:hover {
  box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.2);
}
.Price label, ::placeholder{
  font-family: roboto,serif;
}



.bread-3 {
  grid-column: 2/4;
  grid-row: 3;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Rekonditionerad {
  background-color: #eee;
  box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.2);
  border-radius: 10px;
  margin: 2rem;
  padding: 2rem;
  width: 40%;
}

.Ny {
  background-color: #eee;
  box-shadow: 10px 10px 10px rgba(30, 30, 30, 0.2);
  border-radius: 10px;
  margin: 2rem;
  padding: 2rem;
  width: 40%;
}

.Rebottlad {
  background-color: #eee;
  box-shadow: 10px 10px 10px rgba(90, 59, 59, 0.2);
  border-radius: 10px;
  margin: 2rem;
  padding: 2rem;
  width: 40%;
}




.customer {
  grid-column: 3/4;
  grid-row: 4/5;
  display: flex;
  
  height: 50% ;

}

.customer img {
  width: 4rem;
  height: auto;
}

.customer-1 {
  box-shadow: 10px 10px 10px rgba(90, 59, 59, 0.2);
  border-radius: 10px;
  background-color: #eee;
  padding: 2rem;
  margin: 2rem;
  height: 50%;
  width: 200%;
}
.customer-2 {
  box-shadow: 10px 10px 10px rgba(90, 59, 59, 0.2);
  border-radius: 10px;
  padding: 2rem;
  margin: 2rem;
  background-color: #eee;
  height: 50%;
  width: 200%;
}
.customer-3 {
  box-shadow: 10px 10px 10px rgba(90, 59, 59, 0.2);
  border-radius: 10px;
  padding: 2rem;
  margin: 2rem;
  background-color: #eee;
  height: 50%;
  width: 200%;
}

.bread-3 h2 {
  color: rgb(107, 170, 12);
  margin: 1rem;
}

.start {
  grid-column: 1/2;
  grid-row: 3/4;
  box-shadow: 10px 10px 10px rgba(90, 59, 59, 0.2);
  border-radius: 10px;
  background-color: #eee;
  width: 80%;
  height: auto;
  margin: 2rem;
  padding: 2rem;
}

.lockning {
  grid-column: 2/3;
  grid-row: 3;
  box-shadow: 10px 10px 10px rgba(90, 59, 59, 0.2);
  border-radius: 10px;
  background-color: #eee;
  width: 80%;
  height: auto;
  margin: 2rem;
  padding: 2rem;
}


.lager {
  grid-column: 1/3;
  grid-row: 4;
  box-shadow: 10px 10px 10px rgba(90, 59, 59, 0.2);
  border-radius: 10px;
  background-color: #eee;
  width: 50%;
  margin: 2rem;
  margin-left: 25%;
  padding: 2rem;
  height: 70%;
}

.start img {
  width: 20%;
}
.lockning img {
  width: 20%;
}
.lager img {
  width: 20%;
}




.container-2{
  
  display: grid;
  grid-template-rows: 5rem 30px 45% 1fr;
  grid-template-columns: 1fr 1fr;
} 

.ibc1{
  box-shadow: 10px 10px 10px rgba(90, 59, 59, 0.2);
  border-radius: 10px;
  background-color: #eee;
  grid-column: 1/2;
  grid-row: 3/4;
  width: 80%;
  margin:2rem;
  padding:2rem;
}
.ibc2{
  box-shadow: 10px 10px 10px rgba(90, 59, 59, 0.2);
  border-radius: 10px;
  background-color: #eee;
  grid-column:1/2;
  grid-row: 4;
  width: 80%;
  margin:2rem;
  padding:2rem;
}
.ibc3{
  box-shadow: 10px 10px 10px rgba(90, 59, 59, 0.2);
  border-radius: 10px;
  background-color: #eee;
  grid-column: 2;
  grid-row: 3/4;
  width: 80%; 
  margin:2rem;
  padding:2rem;
}
.ibc4{
  box-shadow: 10px 10px 10px rgba(90, 59, 59, 0.2);
  border-radius: 10px;
  background-color: #eee;
  grid-column: 2;
  grid-row: 4;
  width: 80%;
  margin:2rem;
  padding:2rem;
}

.container-3{
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5rem 30px 50%;
}

.container-4{
  display: grid;
 grid-template-columns: 50% 50%;
 grid-template-rows: 5rem 30px 100vh; ;

}

.container-work{
  grid-column: 1/2;
  grid-row: 3/4;
}


.about-us{
  box-shadow: 10px 10px 10px rgba(90, 59, 59, 0.2);
  border-radius: 10px;
  background-color: #eee;
  margin:2rem;
  padding: 2rem;
}


.anställda{
  grid-column: 2/3;
  grid-row: 3;
  
  
  font-family: roboto,serfi;
} 

.chef{
  box-shadow: 10px 10px 10px rgba(90, 59, 59, 0.2);
  border-radius: 10px;
  background-color: #eee;
  margin:2rem;
  padding: 2rem;
  
  
}

.produktionschef{
  box-shadow: 10px 10px 10px rgba(90, 59, 59, 0.2);
  border-radius: 10px;
  background-color: #eee;
  margin:2rem;
  padding: 2rem;
}

.arbetschef{
  box-shadow: 10px 10px 10px rgba(90, 59, 59, 0.2);
  border-radius: 10px;
  background-color: #eee;
  margin:2rem;
  padding: 2rem;
}

.anställda img{
  height: 20%;
  width: 10%;
 
}